  .page-container {
    text-align: center;
    background-color: #777e7c !important;
    height: 100vh;
  }
  
  .page-container button {
    font-family: Georgia, Serif;
    background-color: #009c6d;
    color: #fff;
    border: none;
    margin: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
    width:500px;
    height:250px;
  }
  
  .page-container button:hover {
    background-color: #008a61;
  }

